body {
  background: lightblue;
}
section.hours-contact-info {
  font-family: 'Handlee', cursive;
  font-size: 20px;
  line-height: 1.2em;
  margin: 0px 50px;
  text-align: center;
}
section.hours-contact-info table {
  float: left;
  width: 245px;
}
section.hours-contact-info p{
  display: block;
  float: right;
}
header {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 40px auto 15px auto;
  text-align: center;
}
header img {
  display: block;
  width: 160px;
  margin: 0 auto;
}
header h1 {
  display: inline-block;
}
header nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 10px auto;
  padding: 5px 0;
  line-height: 1em;
  text-align: center;
}
header h2 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
}
header li {
  display: inline;
  font-size: 20px;
  padding: 0px 5px;
}
main {
  background: red;
  
  margin: 0 auto;
  width: 960px;
}
main section img {
  float: left;
  height: 265px;
  margin-right: 30px;
  width: 400px;
}
main section div {

  float: left;
  width: calc(50% - 30px);
}
main section div h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
main section div p {
  line-height: 1.5em;
  height: 175px;
  margin-bottom: 12px;
  overflow: scroll;
}
main section nav {
  background: yellow;

  float: left;
  width: 450px;
  overflow: scroll;
  white-space: nowrap;
}
main section nav li {
  display: inline-block;
  vertical-align: text-bottom;
}
main section nav img {
  height: 50px;
  width: 100px; 
}



/*


aside {
  float: left;
  margin: 25px 25px;
}

aside {
  position: absolute;
  top: 25px;
  left: 25px;
  border: 2px dashed black;
  width: 200px;
  text-align: center;
  padding: 5px 15px 15px 15px;
  line-height: 10px;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  margin: 10px auto;
  padding: 5px 0;
  line-height: 1.3em;
  text-align: center;
}
table {
  background-color: lightgrey;
  border: 2px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 25px;
  line-height: 1em;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
  width: 145px;
  display: block;
  margin: auto;
}
tr td {
  background-color: white;
  border-radius: 50%; 
  padding: 2px;
  line-height: 2em;
}
ul li {
  display: inline;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}
form * {
  display: block;
}
.open-hours {
  float: left;
}
.open-hours {
  float: left;
}


*/